<!-- <div class="container-fluid">
  <div class="row"> -->
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
      <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block">
          <!-- hidden spacer to center brand on mobile --></span>
        <a id="home-button" class="navbar-brand d-none d-lg-inline-block pl-4" style="cursor: pointer;">
          Xiaoxiao Pang
        </a>
        <div class="w-100 text-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-home">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbar-home">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item">
          <!-- <li class="nav-item" [ngClass]="{'active':activeComponent==='About'}"> -->
            <a class="nav-link m-2 menu-item active" style="cursor: pointer;">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2 menu-item active" style="cursor: pointer;">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2 menu-item active" style="cursor: pointer;">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  <!-- </div>
</div> -->